useDynLib(FastReg, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
export(FastReg)
export(compareDesignMatrices)
export(TextToH5)
export(H5_To_Bed)
export(perform.GLM.test)
export(create_test_dataset)
export(Bed_To_dosage)
export(generate_values2)
export(generate_values)
export(write.h5)
export(data)
import(parallel)
import(stats)
import(utils)
import(Rcpp)
import(RcppArmadillo)
import(rhdf5)
